*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;

}
nav{
    background: #460024;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 45px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #69113E;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.checkbtn:hover {
    color: #77e0f3d2;
    transition: all 0.3s ease 0.1s;

}

#body_main{
    padding: 60px;
    background-color: #8C2F5E;
    
}

#main_new{
    text-align: center;
    background-color: #69113E;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    align-items: center;
    text-align: justify;
    background-color: #69113E;
    border-radius: 10px;
    margin-bottom: 10px;
}

#anuncios{
    align-items: center;
    text-align: center;
    background-color: #69113E;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 25px;

}

.text {
    line-height: 2;
    font-size: 20px;
    text-align: justify;
    color:black;
    
}

.title {
    text-align: left;
    color:black;
}

.image {
    display: block;
    border: 6px outset #353535;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.img_news{
    border: 6px outset #353535;
    border-radius: 10px;
    margin-bottom: 10px;
}

#pie {
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: left;
    color: whitesmoke;
    background: linear-gradient(0deg, #460024 88%, #8C2F5E 100%);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.img_footer{
    align-items: center;

}

.btn_Leer {
    border-radius: 10px;
    background: #460024;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    color: white;
}

.btn_Leer:hover {
    background: #AF5784;
    text-decoration: none;
}

button{
    border: none;
}

.main_colums {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

#body_login{
    background-color: #8C2F5E;
    
}

#main_login{
    text-align: center;
    background-color: #69113E;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 60px;
    margin-left: 450px;
    margin-right: 450px;
    height: 100%;
}

#img_login{
    border: 6px outset #353535;
    border-radius: 10px;
    margin-bottom: 10px;
    display:block;
    margin:auto;
}

.btn_user {
    border-radius: 10px;
    background: #460024;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    color: white;
}

.btn_pass {
    border-radius: 10px;
    background: #460024;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.btn_submit {
    border-radius: 10px;
    background: #460024;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    color: white;
    
}
.icon_login {
    padding-top: 1rem;
}
